## Name-Abhishek Kumar
## Roll-2105598

In [1]:
import pandas as pd
import numpy as np

In [2]:
l=[(1011,4),(1058,5),(1076,3),(1119,4),(1150,),(1161,3),(1168,4),(1178,4)]

df=pd.DataFrame(l,columns=['Roll','score'])

In [3]:
print(df)

   Roll  score
0  1011    4.0
1  1058    5.0
2  1076    3.0
3  1119    4.0
4  1150    NaN
5  1161    3.0
6  1168    4.0
7  1178    4.0

In [4]:
print(df['score'])

0    4.0
1    5.0
2    3.0
3    4.0
4    NaN
5    3.0
6    4.0
7    4.0
Name: score, dtype: float64

In [5]:
print(df.Roll)

0    1011
1    1058
2    1076
3    1119
4    1150
5    1161
6    1168
7    1178
Name: Roll, dtype: int64

In [6]:
print(df[['score','Roll']])

   score  Roll
0    4.0  1011
1    5.0  1058
2    3.0  1076
3    4.0  1119
4    NaN  1150
5    3.0  1161
6    4.0  1168
7    4.0  1178

In [7]:
print(df.head(2))

   Roll  score
0  1011    4.0
1  1058    5.0

In [8]:
print(df.head)

<bound method NDFrame.head of    Roll  score
0  1011    4.0
1  1058    5.0
2  1076    3.0
3  1119    4.0
4  1150    NaN
5  1161    3.0
6  1168    4.0
7  1178    4.0>

In [9]:
print(df.tail)

<bound method NDFrame.tail of    Roll  score
0  1011    4.0
1  1058    5.0
2  1076    3.0
3  1119    4.0
4  1150    NaN
5  1161    3.0
6  1168    4.0
7  1178    4.0>

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Roll    8 non-null      int64
 1   score   7 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 256.0 bytes
None

In [11]:
print(df.describe())

              Roll     score
count     8.000000  7.000000
mean   1115.125000  3.857143
std      60.616918  0.690066
min    1011.000000  3.000000
25%    1071.500000  3.500000
50%    1134.500000  4.000000
75%    1162.750000  4.000000
max    1178.000000  5.000000

In [12]:
print(df.size)

16

In [13]:
print(df.isnull())

    Roll  score
0  False  False
1  False  False
2  False  False
3  False  False
4  False   True
5  False  False
6  False  False
7  False  False

In [14]:
print(df.notnull())

   Roll  score
0  True   True
1  True   True
2  True   True
3  True   True
4  True  False
5  True   True
6  True   True
7  True   True

In [15]:
print(df.dropna())

   Roll  score
0  1011    4.0
1  1058    5.0
2  1076    3.0
3  1119    4.0
5  1161    3.0
6  1168    4.0
7  1178    4.0

In [16]:
print(df.fillna(0))

   Roll  score
0  1011    4.0
1  1058    5.0
2  1076    3.0
3  1119    4.0
4  1150    0.0
5  1161    3.0
6  1168    4.0
7  1178    4.0

In [17]:
#prev value copy
print(df.fillna(method='pad'))

   Roll  score
0  1011    4.0
1  1058    5.0
2  1076    3.0
3  1119    4.0
4  1150    4.0
5  1161    3.0
6  1168    4.0
7  1178    4.0

In [18]:
#next value copy
print(df.fillna(method='bfill'))

   Roll  score
0  1011    4.0
1  1058    5.0
2  1076    3.0
3  1119    4.0
4  1150    3.0
5  1161    3.0
6  1168    4.0
7  1178    4.0

## selecting and indexing

In [19]:
#df.index=df.Roll
df

   Roll  score
0  1011    4.0
1  1058    5.0
2  1076    3.0
3  1119    4.0
4  1150    NaN
5  1161    3.0
6  1168    4.0
7  1178    4.0

In [20]:
df.index=[1,2,3,4,5,6,7,8]
print(df.loc[1])

Roll     1011.0
score       4.0
Name: 1, dtype: float64

In [21]:
df

   Roll  score
1  1011    4.0
2  1058    5.0
3  1076    3.0
4  1119    4.0
5  1150    NaN
6  1161    3.0
7  1168    4.0
8  1178    4.0

In [22]:
print(df.loc[[1]]) #as per new set index

   Roll  score
1  1011    4.0

In [23]:
print(df.iloc[[1]]) #as per prev index

   Roll  score
2  1058    5.0

In [24]:
print(df)
print('------')
df.index=[5,3,1,4,7,8,6,2]
print(df)
print('------')
print(df.loc[[1]])

   Roll  score
1  1011    4.0
2  1058    5.0
3  1076    3.0
4  1119    4.0
5  1150    NaN
6  1161    3.0
7  1168    4.0
8  1178    4.0
------
   Roll  score
5  1011    4.0
3  1058    5.0
1  1076    3.0
4  1119    4.0
7  1150    NaN
8  1161    3.0
6  1168    4.0
2  1178    4.0
------
   Roll  score
1  1076    3.0

In [25]:
print(df[df['score']>=4])

   Roll  score
5  1011    4.0
3  1058    5.0
4  1119    4.0
6  1168    4.0
2  1178    4.0

In [26]:
#add new column
df['percentage']=df['score']*(100/5)

In [27]:
print(df)

   Roll  score  percentage
5  1011    4.0        80.0
3  1058    5.0       100.0
1  1076    3.0        60.0
4  1119    4.0        80.0
7  1150    NaN         NaN
8  1161    3.0        60.0
6  1168    4.0        80.0
2  1178    4.0        80.0

In [28]:
df['pass-fail']=np.where(df['score']>=4,'pass','fail')

In [29]:
print(df)

   Roll  score  percentage pass-fail
5  1011    4.0        80.0      pass
3  1058    5.0       100.0      pass
1  1076    3.0        60.0      fail
4  1119    4.0        80.0      pass
7  1150    NaN         NaN      fail
8  1161    3.0        60.0      fail
6  1168    4.0        80.0      pass
2  1178    4.0        80.0      pass

In [30]:
## grouping and

In [31]:
d=df.groupby(by=['score'])
print(d)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002D4CDA96410>

In [32]:
print(d.first())

       Roll  percentage pass-fail
score
3.0    1076        60.0      fail
4.0    1011        80.0      pass
5.0    1058       100.0      pass

In [33]:
print(d['percentage'].sum())

score
3.0    120.0
4.0    320.0
5.0    100.0
Name: percentage, dtype: float64

In [34]:
print(d['percentage'].count())

score
3.0    2
4.0    4
5.0    1
Name: percentage, dtype: int64

In [35]:
print(df[df['pass-fail']=='pass'].count())

Roll          5
score         5
percentage    5
pass-fail     5
dtype: int64

In [36]:
print(df[df['pass-fail']=='fail'].count())

Roll          3
score         2
percentage    2
pass-fail     3
dtype: int64

In [37]:
lf=pd.read_csv('data.csv')

In [38]:
lf

        Roll  Score
0    2005011    4.0
1    2005058    5.0
2    2005076    3.0
3    2005119    4.0
4    2005150    5.0
..       ...    ...
86  21053022    4.0
87  21053042    4.0
88  21053047    5.0
89  21053066    4.0
90  21053067    4.0

[91 rows x 2 columns]

In [39]:
roll=lf[lf['Score'].isnull()]

In [40]:
print(roll['Roll'])

23    2005521
31    2005598
38    2005704
Name: Roll, dtype: int64

In [41]:
lf['Score'] = np.where(lf['Score']>=60,'pass','fail')

In [44]:

lf['Score'] = pd.to_numeric(lf['Score'], errors='coerce')

# Apply your operation
lf['Score'] = lf['Score'].apply(lambda x: x + 1 if pd.notnull(x) and x <= 5 else x)

In [45]:
print(lf)

        Roll  Score
0    2005011    NaN
1    2005058    NaN
2    2005076    NaN
3    2005119    NaN
4    2005150    NaN
..       ...    ...
86  21053022    NaN
87  21053042    NaN
88  21053047    NaN
89  21053066    NaN
90  21053067    NaN

[91 rows x 2 columns]

In [46]:
lf['Percentage'] = lf['Score']*(100/10)
lf['Pass/Fail'] = np.where(lf['Percentage']>=60,'pass','fail')

In [47]:
print(lf)

        Roll  Score  Percentage Pass/Fail
0    2005011    NaN         NaN      fail
1    2005058    NaN         NaN      fail
2    2005076    NaN         NaN      fail
3    2005119    NaN         NaN      fail
4    2005150    NaN         NaN      fail
..       ...    ...         ...       ...
86  21053022    NaN         NaN      fail
87  21053042    NaN         NaN      fail
88  21053047    NaN         NaN      fail
89  21053066    NaN         NaN      fail
90  21053067    NaN         NaN      fail

[91 rows x 4 columns]

In [48]:
students_less_than_30 = lf[lf['Percentage'] <= 30].shape[0]
print("Number of students who got less than or equal to 30%:", students_less_than_30)

Number of students who got less than or equal to 30%: 0

In [49]:
num_students_more_than_80 = lf[lf['Percentage'] >= 80].shape[0]
print("Number of students who got more than or equal to 80%:", num_students_more_than_80)

Number of students who got more than or equal to 80%: 0