## Name-Abhishek Kumar
## Roll-2105598

In [1]:
#Create a list of numbers and perform various operations such as adding elements, removing elements, and accessing elements by index.
numbers = [10, 20, 30, 40, 50]

print(numbers)


numbers.append(60)
print(numbers)

numbers.insert(2, 15)
print(numbers)

removed_element = numbers.pop(0)
print(numbers)
print("Removed element:", removed_element)

numbers.remove(30)
print(numbers)

first_element = numbers[0]
print("First element:", first_element)


list_length = len(numbers)
print("List length:", list_length)


for number in numbers:
    print(number)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[10, 20, 15, 30, 40, 50, 60]
[20, 15, 30, 40, 50, 60]
Removed element: 10
[20, 15, 40, 50, 60]
First element: 20
List length: 5
20
15
40
50
60

In [2]:
#Create a tuple to represent an immutable collection and try accessing elements and performing basic operations.
numbers_tuple = (10, 20, 30, 40, 50)

print(numbers_tuple)

first_element = numbers_tuple[0]
print("First element:", first_element)


tuple_length = len(numbers_tuple)
print("Tuple length:", tuple_length)


for number in numbers_tuple:
    print(number)

combined_tuple = numbers_tuple + (60, 70)
print("Combined tuple:", combined_tuple)

(10, 20, 30, 40, 50)
First element: 10
Tuple length: 5
10
20
30
40
50
Combined tuple: (10, 20, 30, 40, 50, 60, 70)

In [3]:
#Create a set to store unique elements and perform set operations such as union, intersection,and difference.
numbers_set = {10, 20, 30, 40, 50, 20}

print(numbers_set)

numbers_set.add(60)
print(numbers_set)

numbers_set.remove(30)
print(numbers_set)


if 40 in numbers_set:
    print("40 exists in the set")


letters_set = {'a', 'b', 'c'}


combined_set = numbers_set | letters_set
print("Union:", combined_set)


common_elements = numbers_set & letters_set
print("Intersection:", common_elements)


difference_set = numbers_set - letters_set
print("Difference:", difference_set)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60}
40 exists in the set
Union: {'c', 50, 20, 'a', 40, 'b', 10, 60}
Intersection: set()
Difference: {40, 10, 50, 20, 60}

In [4]:
#Create a dictionary to represent key-value pairs and perform operations like adding, updating,and accessing values.
person_info = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}

print(person_info)

name = person_info["name"]
print("Name:", name)

person_info["occupation"] = "Software Engineer"
print(person_info)

person_info["age"] = 31
print(person_info)

if "city" in person_info:
    print("City exists in the dictionary")


del person_info["age"]
print(person_info)


for key, value in person_info.items():
    print(f"{key}: {value}")

{'name': 'John Doe', 'age': 30, 'city': 'New York'}
Name: John Doe
{'name': 'John Doe', 'age': 30, 'city': 'New York', 'occupation': 'Software Engineer'}
{'name': 'John Doe', 'age': 31, 'city': 'New York', 'occupation': 'Software Engineer'}
City exists in the dictionary
{'name': 'John Doe', 'city': 'New York', 'occupation': 'Software Engineer'}
name: John Doe
city: New York
occupation: Software Engineer